@import url('./font.css');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

*{
    font-family: 'Maven Pro', sans-serif;
    color: white ;
    /* color: black ; */
}
body{
    overflow-x: hidden !important;
    background-color: #2787b7;
}


/* Service Details Bg Image */

.headingBg{
    background-image: url('../src/assets/Backend/PNGFilesOfElements/BackendDevelopmentBg.png') no-repeat center fixed; 
    width: 100% ;
    height: 100%;
}

/* ==================== >>>>>>>>>>>>>>>> Services Details Font <<<<<<<<<<<<<<< =============================*/ 

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900 */

.maven-pro-bold {
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.maven-pro-medium {
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.maven-pro-regular {
    font-family: "Maven Pro", sans-serif;
    font-weight: lighter;
    font-size: 'regular'
    
}








/* ==================== >>>>>>>>>>>>>>>> Services Details Font <<<<<<<<<<<<<<< =============================*/ 
/* ==================== >>>>>>>>>>>>>>>> Tomorrow   Font <<<<<<<<<<<<<<< =============================*/ 
.tomorrow-thin {
    font-family: "Tomorrow", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.tomorrow-extralight {
    font-family: "Tomorrow", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.tomorrow-light {
    font-family: "Tomorrow", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.tomorrow-regular {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tomorrow-medium {
    font-family: "Tomorrow", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.tomorrow-semibold {
    font-family: "Tomorrow", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.tomorrow-bold {
    font-family: "Tomorrow", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.tomorrow-extrabold {
    font-family: "Tomorrow", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.tomorrow-black {
    font-family: "Tomorrow", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.tomorrow-thin-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.tomorrow-extralight-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.tomorrow-light-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.tomorrow-regular-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.tomorrow-medium-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.tomorrow-semibold-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.tomorrow-bold-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.tomorrow-extrabold-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.tomorrow-black-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 900;
    font-style: italic;
}
/* ==================== >>>>>>>>>>>>>>>> Tomorrow   Font <<<<<<<<<<<<<<< =============================*/ 
/* ==================== >>>>>>>>>>>>>>>> Futura   Fonts <<<<<<<<<<<<<<< =============================*/ 
.futura_heavy{
    font-family: 'FuturaHeavy';
}
.futura_book{
    font-family: 'FuturaBook';
}
/* ==================== >>>>>>>>>>>>>>>> Futura   Fonts<<<<<<<<<<<<<<< =============================*/ 


.headerFont{
    font-family:'BankGothic';
}

.section1{
   
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
}


.scale-in-bottom {
    -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-bottom {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 1;
    }
}

@keyframes scale-in-bottom {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 1;
    }
}


.scale-in-top {
    -webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

@keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

.myContainer{
    height: 100vh;
    /* overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth; */
  
}
/* .mySubContainerClass{
    /* height: 100vh; */
    /* scroll-snap-align: start;
    scroll-behavior: smooth; */
/* }  */


  html {
      scrollbar-width: normal;
      scrollbar-color: #48cae4 #ffffff;
      
  }

  html::-webkit-scrollbar {
      width: 2vw;
  }

  html::-webkit-scrollbar-thumb {
      background-color: #2787b7;
  }

  html::-webkit-scrollbar-thumb:hover {
      background-color: #33afee;
  }

  html::-webkit-scrollbar-track {
      background-color: #ffffff;
  }

  html::-webkit-scrollbar-track:hover {
      background-color: #dadada;
  }